.errMsg{
	color: #a94442;
}
#result_table{
			border: 1px solid black;
			margin-top: 3px;
			position: relative;
			left: 200px;
			width: 790px;
}
#result_table td{
	border-bottom: thin solid #CCC;
	padding-left: 10px;
}
tr.result_tr{
	height: 180px;
}
td.result_col2 span{
	font-size: 15px;
}
td.result_col1{
	width: 25%;
}
td.result_col2{
	width: 75%;
	vertical-align: top;
}

.first-col{
	padding-right: 30px;
	padding-left: 20px;
	width: 25%;
}
.second-col{
	vertical-align: top;
	margin-top: 3px;
	width: 75%;
}


@media only screen and (min-device-width : 1024px){
	#header{
		margin-bottom: -10px;
		margin-top: 10px;
	}
	#header_text{
		margin-bottom: 20px;
		position: relative;
		font-size: 25px;
		left: 130px;
		top: -30px;
	}
	#header_pic{
		position: relative;
		left: 0px;
		top: 10px;
		width: 120px;
		height: 50px;
	}
	#buttons{
		text-align: right;
	}
}

@media only screen and (max-device-width : 1024px) and (min-device-width : 768px){
	#header{
		margin-bottom: -15px;
		margin-top: 10px;
	}
	#header_text{
		margin-bottom: 10px;
		position: relative;
		font-size: 25px;
		left: 130px;
		top: -30px;
	}
	#header_pic{
		position: relative;
		left: 0px;
		top: 10px;
		width: 120px;
		height: 50px;
	}
	#buttons{
		text-align: right;
	}
}
/*For Mobile Phone*/
@media only screen and (max-device-width : 767px) {
	#header{
		margin-bottom: -15px;
		margin-top: 10px;
	}
	#header_text{
		font-size: 22px;
		position: relative;
		left: 90px;
		top: -30px;
	}
	#header_pic{
		width:80px;
		height: 35px;
	}
	#buttons{
		text-align: left;
	}
}